<!DOCTYPE html>
<html lang="ja">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blog</title>
  <%- include("./_share/stylesheet.ejs") %>

</head>

<body>

  <%- include("./_share/header.ejs") %>
    <!--mainコンテンツ-->
    <main class="container mg">

      <div class="row pop-box reset-mg">

        <div class="pop-items">
          <a class="pop-link" href="">
            <img class="pop-image" src="/public/image/sample.jpg" alt="">
            <h2 class="title title-text_color">サンプルタイトル</h2>
          </a>
        </div>
        <div class="pop-items">
          <a class="pop-link" href="">
            <img class="pop-image" src="/public/image/sample.jpg" alt="">
            <h2 class="title title-text_color">サンプルタイトル</h2>
          </a>
        </div>
        <div class="pop-items pop-mg">
          <a class="pop-link" href="">
            <img class="pop-image" src="/public/image/sample.jpg" alt="">
            <h2 class="title title-text_color">サンプルタイトル</h2>
          </a>
        </div>

      </div>
      <div class="row reset-mg">
        <div class="main-content">
          <% for (var item of list) { %>
            <section class="article-list" itemscope="itemscope" itemtype="https://schema.org/Article">
              <a href="/posts<%= item.url %>">
                <h2 itemprop="about" class="article-list-title">
                  <%= item.title %>
                </h2>
                <img itemprop="image" class="article-list-img" src="/public<%= item.image %>" alt="">
                <p itemprop="abstract" class="article-list-text">
                  <%= item.subcontent %>
                </p>
                <p itemprop="dateCreated" class="article-list-date">
                  <%= item.updated %>
                </p>
              </a>
            </section>
            <% } %>
        </div>

        <%- include("./_share/side.ejs") %>

      </div>

    </main>

    <footer class="footer">
      <div class="container">
        <div class="row reset-mg">
          <div class="footer-archive">
            <h4 class="footer-archive-title">ARCHIVE</h4>
            <ul>
              <li></li>
            </ul>
          </div>

          <div class="footer-twitter">
            <h4 class="footer-twitter-title">TWITTER</h4>
            <div>
              <a class="twitter-timeline" data-width="350" data-height="400"
                href="https://twitter.com/test0275?ref_src=twsrc%5Etfw">Tweets by test0275</a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>

        </div>
      </div>
      <div class="container end-box">
        <p class="copy">&copy;2021 sample</p>
      </div>
    </footer>

</body>

</html>