<!DOCTYPE html>
<html lang="ja">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blog</title>
  <%- include("../_share/stylesheet.ejs") %>
</head>

<body>

  <%- include("../_share/header.ejs") %>

    <!--mainコンテンツ-->
    <main class="container mg">

      <div class="row reset-mg">
        <div class="main-content">
          <% for (var item of list) { %>
            <section class="article-list" itemscope="itemscope" itemtype="https://schema.org/Article">
              <a href="/posts<%= item.url %>">
                <h2 itemprop="about" class="article-list-title">
                  <%= item.title %>
                </h2>
                <img itemprop="image" class="article-list-img" src="/public<%= item.image %>" alt="">
                <p itemprop="abstract" class="article-list-text">
                  <%= item.subcontent %>
                </p>
                <p itemprop="dateCreated" class="article-list-date">
                  <%= item.createdAt %>
                </p>
              </a>
            </section>
            <% } %>

              <%- include("../_share/pagenation.ejs") %>
        </div>

        <%- include("../_share/side.ejs") %>

      </div>

    </main>

    <%- include("../_share/footer.ejs") %>

</body>

</html>