<nav>
  <% if (pagenation.current==1) {%>
    <ul class="pagination d-flex justify-content-end">
      <li class="page-item"><a class="page-link"
          href="/search/?keyword=<%= keyword %>&page=<%= pagenation.current + 1 %>">次のページ</a>
      </li>
      <% } else if (pagenation.max> pagenation.current) { %>
        <ul class="pagination d-flex justify-content-between">
          <li class="page-item"><a class="page-link"
              href="/search/?keyword=<%= keyword %>&page=<%= pagenation.current - 1 %>">前のページ</a>
          </li>
          <li class="page-item"><a class="page-link"
              href="/search/?keyword=<%= keyword %>&page=<%= pagenation.current + 1 %>">次のページ</a>
          </li>
          <% } else if (pagenation.max=pagenation.current) { %>
            <ul class="pagination d-flex justify-content-start">
              <li class="page-item"><a class="page-link"
                  href="/search/?keyword=<%= keyword %>&page=<%= pagenation.current - 1 %>">前のページ</a>
              </li>
              <%}%>
            </ul>
</nav>